:root {
  --primary-color: #1c5d99;
  --secondary-color: #fff;
  --dark: #222222;
  --light: #639fab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #63ab79;
}

.container .content {
  background-color: var(--dark);
  color: var(--secondary-color);
  width: 45%;
  padding: 5rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container .content .result {
  position: relative;
  top: 5px;
  font-size: 3rem;
  color: var(--light);
}

.container .content .text-input {
  outline: none;
  border: none;
  margin-top: 1rem;
  height: 35px;
  width: 50%;
}

.container .content .text-input[type="text"] {
  text-indent: 10px;
}
